body {
  margin-left: 0;
  padding-top: 5px;
}

.image-container {
  display: grid ;
  /*
  Thinkpad
  grid-template-columns: 260px 260px 260px;
  */
  /* Macbook */
  grid-template-columns: 285px 285px 285px;

  row-gap: 20px;

}

.gridElement {
  /*
  Thinkpad
  padding-left: 10px;
  padding-right: 10px;
  */
  /* Macbook */
  padding-left: 10px;

  /* General */
  margin-left: 0;
  border-top: 0.00001px solid rgb(235, 233, 233);
  border-bottom: 0.00001px solid rgb(229, 225, 225);
}

.imageBracket {
  /*
  Thinkpad:
  width: 234px;
  height: 269px;
  padding-top: 26px;
  padding-bottom: 52px;
  */

  /* Macbook */
  width: 259px;
  height: 296.64px;
  padding-top: 29.25px;
  padding-bottom: 58.5px;

  /* General */
  border-right: 0.00001px solid lightgray;
  border-left: 0.00001px solid lightgray;
  border-top: 0.00001px solid lightgray;
  border-bottom: 0.00001px solid lightgray;
}

.imageCard {
  text-align: center;
}

.imageCard img {
  /*
  Thinkpad
  width: 200px;
  height: 268px;
  object-fit: cover;
  */

  /* Macbook */
  width: 221.43px;
  height: 296.64px;
  object-fit: cover;
}

.backdrop {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.crop-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
  z-index: 101;
}

.controls {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
  z-index: 101;
}

.controls-upper-area {
  text-align: center;
}

.edit-box {
  width: 180px;
  height: 50px;
  position: fixed;
  top: 100px;
  right: 100px;
  justify-content: center;
  align-items: center;
}

.slider-container {
  margin-left: 20px;
  width: 160px;
}

.button-area {
  text-align: center;
  margin-top: 10px;
}

.button-area button {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  background-color: black;
  color: white;
  border: 1px solid yellow;
  font-size: 20px;
}

@media print {
  img {
    max-width: 100%;
    height: auto;
    image-rendering: high-quality;
  }
}

